To change a sex of character select player and choose a new sex.<br/>
<span style="color: red">Change sex cost {{ config.account_change_character_sex_points }} premium points. You have {{ points }} premium points.</span><br/><br/>
<form action="{{ getLink('account/character/sex') }}" method="post">
	<input type="hidden" name="changesexsave" value="1"/>
	<div class="TableContainer">
		<table class="Table1" cellpadding="0" cellspacing="0">
			<div class="CaptionContainer">
				<div class="CaptionInnerContainer">
					<span class="CaptionEdgeLeftTop" style="background-image:url({{ template_path }}/images/content/box-frame-edge.gif);"></span>
					<span class="CaptionEdgeRightTop" style="background-image:url({{ template_path }}/images/content/box-frame-edge.gif);"></span>
					<span class="CaptionBorderTop" style="background-image:url({{ template_path }}/images/content/table-headline-border.gif);"></span>
					<span class="CaptionVerticalLeft" style="background-image:url({{ template_path }}/images/content/box-frame-vertical.gif);"></span>
					<div class="Text" >Change sex</div>
					<span class="CaptionVerticalRight" style="background-image:url({{ template_path }}/images/content/box-frame-vertical.gif);"></span>
					<span class="CaptionBorderBottom" style="background-image:url({{ template_path }}/images/content/table-headline-border.gif);" ></span>
					<span class="CaptionEdgeLeftBottom" style="background-image:url({{ template_path }}/images/content/box-frame-edge.gif);" /></span>
					<span class="CaptionEdgeRightBottom" style="background-image:url({{ template_path }}/images/content/box-frame-edge.gif);" /></span>
				</div>
			</div>
			<tr>
				<td>
					<div class="InnerTableContainer">
						<table style="width:100%;" >
							<tr>
								<td class="LabelV" ><span >Character:</td>
								<td style="width:90%;" >
									<select name="player_id">
										{% for player in players %}
										<option value="{{ player.getId() }}">{{ player.getName() }}</option>
										{% endfor %}
									</select>
								</td>
							</tr>
							<tr>
								<td class="LabelV" ><span >New Sex:</td>
								<td>
									<select name="new_sex">
										{% for id, gender in config.genders %}
										<option value="{{ id }}"{% if player_sex == id %} selected{% endif %}>{{ gender }}</option>
										{% endfor %}
									</select>
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<br/>
	<div class="row">
		<div class="col-auto">
			<button type="submit" class="btn " name="Submit" value="Submit" />Submit</button>
		</div>		
</form>
		<div class="col-auto">
			<a class="btn" href="{{ getLink('account/manage') }}">Back</a>
		</div>			
				
	</div>	
	</table>
	</div>