<div class="container">
	<div class="row justify-content-between {{ config.bgColor }} {{config.textColor }}">
		<div class="col-auto">
			<img style="margin-top:-12px" src="{{ template_path }}/images/news/icon_{{ icon }}.gif" /><span class="fs-2 fw-bold">{{ title }}</span>
		</div>
		<div class="col-auto">
			<div class="col-auto">{{ date|date(config.news_date_format) }}
			</div>
			{% if author is not empty %}
				<div class="col-auto">
					<b>Author:
					</b>
					<i>{{ author }}</i>
				</div>
			{% endif %}
		</div>
	</div>
</div>
</br>
<table style="clear:both" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td style="padding-left:10px;padding-right:10px;">{{ content|raw }}</td>
	</tr>
	{% if comments is not null %}
		<tr>
			<td>
				<div style="text-align: right; margin-right: 10px;">
					<a href="{{ comments }}">» Comment on this news</a>
				</div>
			</td>
		</tr>
	{% endif %}
</table>
<br/>
