<br/><br/><br/>
<center>
	<div>
		<button type="button" class="btn btn-link">
			<a href="{{ getLink('items/head') }}">
				Helmets
			</a>
		</button>
		<button type="button" class="btn btn-link">
			<a href="{{ getLink('items/body') }}">
				Armors
			</a>
		</button>
		<button type="button" class="btn btn-link">
			<a href="{{ getLink('items/legs') }}">
				Legs
			</a>
		</button>
		<button type="button" class="btn btn-link">
			<a href="{{ getLink('items/feet') }}">
				Boots
			</a>
		</button>
		<button type="button" class="btn btn-link">
			<a href="{{ getLink('items/shield') }}">
				Shields
			</a>
		</button>
		<button type="button" class="btn btn-link">
			<a href="{{ getLink('items/weapon') }}">
				Weapons
			</a>
		</button>
		<button type="button" class="btn btn-link">
			<a href="{{ getLink('items/ring') }}">
				Rings
			</a>
		</button>
		<button type="button" class="btn btn-link">
			<a href="{{ getLink('items/necklace') }}">
				Necklace
			</a>
		</button>
	</div>
</center>
