<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {
		var data_vocations = google.visualization.arrayToDataTable([
			['Vocation', 'Amount']
			{% for vocation, amount in vocations %}
			,['{{ config.vocations[vocation] }}', {{ amount }}]
			{% endfor %}
		]);

		var chart_vocations = new google.visualization.PieChart(document.getElementById('vocations'));
		chart_vocations.draw(data_vocations, {
			title: 'Vocations',
			backgroundColor: { fill:'transparent' }
		});

		var data_gender = google.visualization.arrayToDataTable([
			['Gender', 'Amount']
			{% for v in genders %}
			,['{{ config.genders[v.gender] }}', {{ v.amount }}]
			{% endfor %}
		]);

		var chart_gender = new google.visualization.PieChart(document.getElementById('gender'));
		chart_gender.draw(data_gender, {
			title: 'Gender',
			backgroundColor: { fill:'transparent' }
		});

		{% if config.account_country %}
		var data_countries = google.visualization.arrayToDataTable([
			['Country', 'Amount']
			{% for v in countries %}
			,['{% if config.countries[v.country] is defined %}{{ config.countries[v.country] }}{% else %}Unknown{% endif %}', {{ v.amount }}]
			{% endfor %}
			,['Other', {{ countriesOther }}]
		]);

		var chart_countries = new google.visualization.PieChart(document.getElementById('countries'));
		chart_countries.draw(data_countries, {
			title: 'Countries',
			backgroundColor: { fill:'transparent' }
		});
		{% endif %}
	}
</script>
<div id="vocations" style="width: 100%; height: 300px;"></div>
<div id="gender" style="width: 100%; height: 300px;"></div>
{% if config.account_country %}
<div id="countries" style="width: 100%; height: 300px;"></div>
{% endif %}
