<div class="ui hidden divider"></div>
<div class="ui card" style="width: 100%">
	<div class="ui top attached message">
		<h4 class="ui header">
			<div class="content" style="width: 100%">
				<span class="right floated">{{ date|date(news_date_format) }} {% if author is not empty %} by <a href="{{ getLink('characters/' ~ author) }}">{{ author }}</a>{% endif %}</span>
				<img src="{{ template_path }}/images/news/icon_{{ icon }}.gif" alt="News Icon" class="news_image"/>
				{{ title}}
			</div>
		</h4>
	</div>
	<div class="ui bottom attached segment">
		{{ content|raw }}
		<br/>
	</div>
</div>
