<div class="ui positive message">
	<div class="header">
		{{ title|raw }}
	</div>
	<p>{{ description|raw }}</p>
</div>
<br/>
{% if custom_buttons is defined %}
{{ custom_buttons|raw }}
{% else %}
<div style="text-align:center">
	<table border="0" cellspacing="0" cellpadding="0">
		<form action="{{ getLink('account/manage') }}" method="post">
			<tr>
				<td style="border:0;">
					{{ include('buttons.back.html.twig') }}
				</td>
			</tr>
		</form>
	</table>
</div>
{% endif %}
