Conversation went successful.
<table>
	<tr>
		<td>Converted accounts:</td><td>{{ converted.accounts }}</td>
	</tr>
	<tr>
		<td>Converted players:</td><td>{{ converted.players }}</td>
	</tr>
	<tr>
		<td>Converted changelogs:</td><td>{{ converted.changelogs }}</td>
	</tr>
	<tr>
		<td>Converted newses:</td><td>{{ converted.newses }}</td>
	</tr>
	<tr>
		<td>Converted forum boards:</td><td>{{ converted.boards }}</td>
	</tr>
	<tr>
		<td>Converted forum threads:</td><td>{{ converted.threads }}</td>
	</tr>
	<tr>
		<td>Converted forum posts:</td><td>{{ converted.posts }}</td>
	</tr>
</table>