<div class="container">
	<div>
		<h1>Change Public Information</h1>
	</div>
	<div>
		Here you can tell other players about yourself. This information will be displayed alongside the data of your characters.<br/> If you do not want to fill in a certain field, just leave it blank.<br/><br/>
	</div>
	<form action="{{ getLink('account/info') }}" method="post">
		<div>
			<div class="row mb-3">
				<label for="info_rlname" class="col-sm-2 col-form-label">Real name</label>
				<div class="col-sm-3">
					<input class="form-control" name="info_rlname" id="info_rlname" value="{{ account_rlname }}" size="30" maxlength="50">
				</div>
			</div>
			<div class="row mb-3">
				<label for="info_location" class="col-sm-2 col-form-label">Location</label>
				<div class="col-sm-3">
					<input class="form-control" id="info_location" name="info_location" value="{{ account_location }}" size="30" maxlength="50">
				</div>
			</div>
			{% if config.account_country %}
				<div class="row mb-3">
					<label for="account_country" class="col-sm-2 col-form-label">Country<img src="" id="account_country_img" alt="Country"/></label>
					<div class="col-sm-3">
						<select name="info_country" id="account_country">
							{% for code, country in countries %}
								<option value="{{ code}}"{% if account_country == code %} selected{% endif %}>{{ country }} </option>
							{% endfor %}
						</select>
						<script>
							function updateFlag()
							{
								let img = $('#account_country_img');
								let country = $('#account_country :selected').val();
								if(country.length) {
									img.attr('src', 'images/flags/' + country + '.gif');
									img.show();
								} else {
									img.hide();
								}
							}

							$(function() {
								updateFlag();
								$('#account_country').change(function() {
									updateFlag();
								});
							});
						</script>
				</div>
			{% endif %}
			<div class="row mb-3">
				<div class="col-sm-3">
					<input type="hidden" name="changeinfosave" value="1"/>
					<button type="submit" class="btn">Submit</button>
					<a class="btn" href="{{ getLink('account/manage') }}">Back</a>
				</div>
			</div>
		</div>
	</form>
</div>
