<form action="{{ getLink('account/character/name') }}" method="post">
	<div>
		<h1>Change Name</h1>
	</div>
	<div>
		To change a name of character select player and choose a new name.<br/>
		<span style="color: red">Change name cost {{ config.account_change_character_name_points }} premium points. You have {{ points }} premium points.</span>
		<br/><br/>
	</div>
	<div>
		<div class="row mb-3">
			<label for="player_id" class="col-sm-3 col-form-label">Character:</label>
			<div class="col-sm-3">
				<select id="player_id" name="player_id">
					{% for player in account_logged.getPlayersList() %}
						<option value="{{ player.getId() }}">{{ player.getName() }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="row mb-3">
			<label for="character_name" class="col-sm-3 col-form-label">New Name:</label>
			<div class="col-sm-3">
				<input type="text" name="name" id="character_name" size="25" maxlength="25" >
				<img id="character_indicator" src="images/global/general/{% if not save or errors|length > 0 %}n{% endif %}ok.gif" alt="Validator"/>
				<br/>
				<span style="font-size: 10px">
					<span id="character_error">Please enter your character name.</span>
				</span>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col">
				<input type="hidden" name="changenamesave" value="1">
				<button type="submit" class="btn">Submit</button>
				<a class="btn" href="{{ getLink('account/manage') }}">Back</a>
			</div>
		</div>
	</div>
</form>
<script type="text/javascript" src="tools/check_name.js"></script>
