<div>
	<div>
		<h1>Change Public Information</h1>
	</div>
	<div>
		Here you can tell other players about yourself. This information will be displayed alongside the data of your characters. If you do not want to fill in a certain field, just leave it blank.<br/>
	</div>
	<form action="{{ getLink('account/password') }}" method="post">
		<div>
			<div class="row">
				<label for="info_rlname" class="col-form-label">Real name</label>
				<div class="col">
					<input class="form-control" name="info_rlname" id="info_rlname" value="{{ account_rlname }}" size="30" maxlength="50">
				</div>
			</div>
			<div class="row">
				<label for="info_location" class="col-form-label">Location</label>
				<div class="col">
					<input class="form-control" id="info_location" name="info_location" value="{{ account_location }}" size="30" maxlength="50">
				</div>
			</div>
			<div class="row">
				<label for="account_country" class="col-form-label">Country <img src="" id="account_country_img"/></label>
				<div class="col">
					<select class="form-select" name="info_country" id="account_country">
						{% for code, country in countries %}
							<option value="{{ code }}" {% if account_country == code %} selected {% endif %}>{{ country }}
							</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<input type="hidden" name="changeinfosave" value="1"/>
					<button type="submit" class="btn btn-secondary" name="Submit" value="Submit" />Submit</button>
				</div>
			</div>
		</div>
	</form>
</div>
