<div class="d-flex align-items-start table-responsive">
	<div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		<button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Profile</button>
		<button class="nav-link" id="v-pills-characters-tab" data-bs-toggle="pill" data-bs-target="#v-pills-characters" type="button" role="tab" aria-controls="v-pills-characters" aria-selected="false">Characters</button>
		<button class="nav-link" id="v-pills-actionLog-tab" data-bs-toggle="pill" data-bs-target="#v-pills-actionLog" type="button" role="tab" aria-controls="v-pills-actionLog" aria-selected="false">Action Log</button>
		<button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
	</div>
	<div class="tab-content" id="v-pills-tabContent">
		<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
			<h2>General Information</h2>
			<table width="100%">
				<tr style="background-color: {{ config.lightborder }};" >
					<td style="width: 130px;">Account {% if constant('USE_ACCOUNT_NAME') %}Name{% else %}Number{% endif %}:</td>
					<td>{{ account }}</td>
				</tr>
				<tr style="background-color: {{ config.darkborder }};" >
					<td style="width: 130px;">Email Address:</td>
					<td>{{ account_email ~ email_change }}</td>
				</tr>
				<tr style="background-color: {{ config.lightborder }};" >
					<td>Created:</td>
					<td>{{ account_created|date("j F Y, G:i:s") }}</td>
				</tr>
				<tr style="background-color: {{ config.darkborder }};" >
					<td>Last Login:</td>
					<td>{{ "now"|date("j F Y, G:i:s") }}</td>
				</tr>
				{% autoescape false %}
				<tr style="background-color: {{ config.lightborder }};" >
					<td>Account Status:</td>
					<td>{{ account_status }}</td>
				</tr>
				<tr style="background-color: {{ config.darkborder }};" >
					<td>Registered:</td>
					<td>{{ account_registered }}</td>
				</tr>
				{% endautoescape %}
			</table>
			<br/>
			<h2>Public Information</h2>
			<table width="100%">
				<tr style="background-color: {{ config.lightborder }};" >
					<td style="width: 80px;">Real name:</td>
					<td>{{ account_rlname }}</td>
				</tr>
				<tr style="background-color: {{ config.darkborder }};" >
					<td style="width: 80px;">Location:</td>
					<td >{{ account_location }}</td>
				</tr>
			</table>
		</div>
		<div class="tab-pane fade" id="v-pills-actionLog" role="tabpanel" aria-labelledby="v-pills-actionLog-tab">
			<h2>Action Log</h2>
			<table class="table">
				<tr bgcolor="{{ config.vdarkborder }}" class="white">
					<th>Action</th><th>Date</th><th>IP</th>
				</tr>
				{% autoescape false %}
					{% set i = 0 %}
					{% for action in actions %}
						{% set i = i + 1 %}
						<tr style="background-color: {{ getStyle(i) }}">
							<td>{{ action.action }}</td>
							<td>{{ action.date|date("jS F Y H:i:s") }}</td>
							<td>{{ action.ip }}</td>
						</tr>
					{% endfor %}
				{% endautoescape %}
			</table>
		</div>
		<div class="tab-pane fade" id="v-pills-characters" role="tabpanel" aria-labelledby="v-pills-characters-tab">
			<div>
				<ul class="nav nav-pills mb-3" id="pills-characterTab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="characterPills-home-tab" data-bs-toggle="pill" data-bs-target="#characterPills-home" type="button" role="tab" aria-controls="characterPills-home" aria-selected="true">Character List</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="characterPills-create-tab" data-bs-toggle="pill" data-bs-target="#characterPills-create" type="button" role="tab" aria-controls="characterPills-create" aria-selected="false">Create Character</button>
					</li>
					{% if config.account_change_character_name %}
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="characterPills-changeName-tab" data-bs-toggle="pill" data-bs-target="#characterPills-changeName" type="button" role="tab" aria-controls="characterPills-changeName" aria-selected="false">Create Character</button>
						</li>
					{% endif %}
					{% if config.account_change_character_sex %}
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="characterPills-changeSex-tab" data-bs-toggle="pill" data-bs-target="#characterPills-changeSex" type="button" role="tab" aria-controls="characterPills-changeSex" aria-selected="false">Create Character</button>
						</li>
					{% endif %}
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="characterPills-delete-tab" data-bs-toggle="pill" data-bs-target="#characterPills-delete" type="button" role="tab" aria-controls="characterPills-delete" aria-selected="false">Delete Character</button>
					</li>
				</ul>
				<div class="tab-content" id="pills-characterTabContent">
					<div class="tab-pane fade show active" id="characterPills-home" role="tabpanel" aria-labelledby="characterPills-home-tab">
						<h2>Character list: {{ players|length }} characters.</h2>
						<table class="table">
							<thead>
								<tr>
									<th>Name</th>
									<th>Level</th>
									<th>Vocation</th>
									<th>Town</th>
									<th>Last login</th>
									<th>Status</th>
									<th>Hide</th>
									<th>Edit</th>
								</tr>
							</thead>
							<tbody>
								{% set i = 0 %}
								{% for player in players %}
									{% set i = i + 1 %}
									<tr bgcolor="{{ getStyle(i) }}">
										<th scope="col"><a href="{{ getLink('characters/' ~ player.getName()|urlencode) }}">{{ player.getName() }}</a></th>
										<td>{{ player.getLevel() }}</td>
										<td>{{ player.getVocationName() }}</td>
										<td>{{ config.towns[player.getTownId()] }}</td>
										<td>{% if player.getLastLogin() > 0 %}{{ player.getLastLogin|date('d F Y (H:i)') }}{% else %}Never.{% endif %}</td>
										<td>{%  if player.isOnline() %}<span style="color: green">ONLINE</span>{% else %}<span style="color: red">Offline</span>{% endif %}</td>
										<td>{% if player.isHidden() %}Hidden{% else %}Visible{% endif %}</td>
										<td><a class="btn " href="{{ getLink('account/character/comment/' ~ player.getName|urlencode) }}" role="button">Edit</a></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="characterPills-create" role="tabpanel" aria-labelledby="characterPills-create-tab">{% include('account.create_character.html.twig') %}</div>
					<div class="tab-pane fade" id="characterPills-changeName" role="tabpanel" aria-labelledby="characterPills-changeName-tab">{% include('account.change_name.html.twig') %}</div>
					<div class="tab-pane fade" id="characterPills-changeSex" role="tabpanel" aria-labelledby="characterPills-changeSex-tab">{% include('account.change_sex.html.twig') %}</div>
					<div class="tab-pane fade" id="characterPills-delete" role="tabpanel" aria-labelledby="characterPills-delete-tab">{% include('account.delete_character.html.twig') %}</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
			<div>
				{% include('account.change_info.html.twig') %}
			</div>
			<div>
				{% include('account.change_mail.html.twig') %}
			</div>
			<div>
				{% include('account.change_password.html.twig') %}
			</div>
		</div>
	</div>
</div>