<div class="container">
	<form method="post" action="{{ link }}">
		<div>
			{% if action == 'edit_board' %}
				<input type="hidden" name="id" value="{{ id }}"/>
			{% endif %}
			{% if action == 'edit' %}
				<h3>Edit
				{% else %}
					<h3>Add
					{% endif %}
					board</h3>
			</div>
			<div class="row">
				<label for="name" class="col-2 col-form-label">Name:</label>
				<div class="col">
					<input type="text" name="name" id="name" value="{% if name is not null %}{{ name }}{% endif %}" size="29" maxlength="29"/>
				</div>
			</div>

			<div class="row">
				<label for="description" class="col-2 col-form-label">Description:</label>
				<div class="col">
					<textarea name="description" id="description" maxlength="300" cols="50" rows="5">
						{% if description is not null %}
							{{ description }}
						{% endif %}
					</textarea>
				</div>
			</div>
			<div class="row">
				<label for="access" class="col-2 col-form-label">Access</label>
				<div class="col">
					<select name="access" id="access">
						{% for id, group in groups %}
							<option value="{{ group.getId() }}" {% if access == group.getId() %} selected {% endif %}>{{ group.getName() }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="row">
				<label for="guild" class="col-2 col-form-label">Guild:</label>
				<div class="col">
					<select name="guild" id="guild">
						<option value="0" {% if guild == 0 %} selected {% endif %}>----</option>
						{% for guild_ in guilds %}
							<option value="{{ guild_.id }}" {% if guild == guild_.id %} selected {% endif %}>{{ guild_.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-auto">
					<input type="submit" value="Submit"/>
				</div>
			</div>
		</form>
	</div>
