<div class="container">
	<h1>Guilds</h1>
	{% if guilds|length > 0 %}
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Logo</th>
					<th scope="col">Name</th>
					<th scope="col">Description</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% set i = 0 %}
				{% for guild in guilds %}
					{% set i = i + 1 %}
					<tr>
						<td>
							<img src="images/guilds/{{ guild.logo }}" width="64" height="64">
						</td>
						<td>
								<b>{{ guild.name }}</b>
						</td>
						<td>
							{% if guild.description is not empty %}
								{{ guild.description|raw }}
							{% endif %}
							{% if isAdmin %}
								<a href="?subtopic=guilds&action=delete_by_admin&guild={{ guild.name }}"> - Delete this guild (for ADMIN only!)</a>
							{% endif %}
						</td>
						<td>
							<form action="{{ guild.link }}" method="post">
								{{ include('buttons.view.html.twig') }}
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if logged %}
			</br>
			<h4>No guild found that suits your needs?</h4>
			<form action="?subtopic=guilds&action=create" method="post">
				{% set button_name = 'Found Guild' %}
				{% set button_image = '_sbutton_foundguild' %}
				{% include('buttons.base.html.twig') %}
			</form>
		{% else %}
			<b>Before you can create guild you must login.</b>
			<br/>
			<form action="?subtopic=accountmanagement&redirect={{ getLink('guilds') }}" method="post">
				{% include('buttons.login.html.twig') %}
			</form>
		{% endif %}
	{% else %}
		There are no guilds on this server.
		{% if logged %}
			Create the first guild!
			<form action="?subtopic=guilds&action=create" method="post">
                {% set button_name = 'Found Guild' %}
				{% set button_image = '_sbutton_foundguild' %}
				{% include('buttons.base.html.twig') %}
			</form>
		{% endif %}
	{% endif %}
	{% if logged %}
		<br/>
		If you have any problem with guilds try:
		<br/>
		<a href="?subtopic=guilds&action=cleanup_players">Cleanup players</a>
		- can't join guild/be invited? Can't create guild? Try cleanup players.
		<br/>
		<a href="?subtopic=guilds&action=cleanup_guilds">Cleanup guilds</a>
		- made guild, you are a leader, but you are not on players list? Cleanup guilds!
	{% endif %}
</div>
