<div class="container">
	<div>
		<img class="float-start" src="images/guilds/{{ logo }}" width="64" height="64">
		<img class="float-end" src="images/guilds/{{ logo }}" width="64" height="64">
	</div>
	<div class="float-center">
		<h1 class="text-center">{{ guild_name }}</h1>
	</div>
	<div>
		<br/>
		<br/>
		<h4>Guild information</h4>
		{% if descriptions is not empty %}
			{{ description }}<br/>
		{% endif %}
		{% if guild_owner is not empty %}
			{% set guildOwnerName = guild_owner.getName() %}
			<a href="{{ getPlayerLink(guildOwnerName, false) }}"><b>{{ guildOwnerName }}</b></a> is guild leader of <b>{{ guild_name }}</b>.</br>
		{% endif %}
		The guild was founded on {{ config.lua.serverName }} on {{ guild_creation_date|date("j F Y") }}.
		{% if isLeader %}
			<a class="btn" href="?subtopic=guilds&action=manager&guild={{ guild_name }}" style="float: right;">
				Manage Guild
			</a>
		{% endif %}
	</div>
	<div>
		<br/><br/>
		<h4>Guild members</h4>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Rank</th>
					<th scope="col">Name{% if useGuildNick %} and Title{% endif %}</th>
					<th scope="col">Vocation</th>
					<th scope="col">Level</th>
					<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody>
				{% set showedRank, i = false, 0 %}
				{% for rank in guild_members if rank.members|length > 0 %}
					{% set rankStyle, i = getStyle(i), i + 1  %}
					{% for player in rank.members %}
						<tr>
							<th scope="row">
									{% if not showedRank %}{{ rank.rank_name }}{% endif %}
									{% set showedRank = true %}
							</th>
							<td>
								{% set playerName = player.getName() %}
								<form action="?subtopic=guilds&action=change_nick&name={{ playerName }}&guild={{ guild_name }}" method="post">
									{{ getPlayerLink(playerName, true)|raw }}
									{% set showGuildNick = false %}
									{% if player.getGuildNick() is not empty %}
										{% set showGuildNick = true %}
										{% set guildNickRaw = player.getGuildNick()|raw %}
									{% endif %}
									{% if logged %}
									{% if player.getId() in players_from_account_ids %}
										<div class="input-group input-group-sm mb-3">
											<input type="text" name="nick" value="{{ guildNickRaw }}" class="form-control" placeholder="{{ guildNickRaw }}" aria-label="Set nickname" aria-describedby="button-changeNick">
											<button class="btn" type="submit" id="button-changeNick" value="Change">Change Nick</button>
										</div>
									{% else %}
										{% if showGuildNick %} ({{ guildNickRaw }}){% endif %}
									{% endif %}
									{% if level_in_guild > rank.rank_level or isLeader %}
										{% if guildOwnerName != playerName %}
											<span style="font-size: 10px; float: right">
											<a class="btn" href="?subtopic=guilds&action=kick_player&guild={{ guild_name|url_encode }}&name={{ playerName|url_encode }}">KICK</a>
											</span>
										{% endif %}
									{% endif %}
									{% else %}
										{% if showGuildNick %} ({{ guildNickRaw }}){% endif %}
									{% endif %}
								</form>
							</td>
							<td>
								{{ player.getVocationName() }}
							</td>
							<td>
								{{ player.getLevel() }}
							</td>
							<td>
								<span style="color: {% if player.isOnline() %} green;"><b>Online{% else %} red;"><b>Offline{% endif %}</b></span>
							</td>
						</tr>
					{% endfor %}
					{% set showedRank = false %}
					{% else %}
						<tr>
							<td colspan="5">No guild members found.</td>
						</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div>
		<h4>Invited Characters</h4>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% set i = 0 %}
				{% for invited_player in invited_list if invited_list|length > 0 %}
					{% if invited_player.isLoaded() %}
						{% set i = i + 1 %}
							<tr>
								<td>
									{{ getPlayerLink(invited_player.getName(), true)|raw }}
									{% if isVice %}
									<div style="float: right">
										<a class="btn" href="?subtopic=guilds&action=delete_invite&guild={{ guild_name|url_encode }}&name={{ invited_player.getName()|url_encode }}">Cancel Invitation</a>
									</div>
									{% endif %}
								</td>
							</tr>
					{% endif %}
				{% else %}
						<tr>
							<td>
								No invited characters found.
							</td>
						</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="row">
		{% if not logged %}
		<div class="col col-auto">
			<form action="?subtopic=accountmanagement&redirect={{ getGuildLink(guild_name|url_encode, false) }}" method="post">
				{{ include('buttons.login.html.twig') }}
			</form>
		</div>
		{% else %}
			{% if show_accept_invite > 0 %}
				<div class="col col-auto">
					<form action="?subtopic=guilds&action=accept_invite&guild={{ guild_name|url_encode }}" method="post">
						<input type="submit" name="Accept Invite" value="Accept Invite">
					</form>
				</div>

			{% endif %}
			{% if isVice %}
				<div class="col col-auto">
					<form action="?subtopic=guilds&action=invite&guild={{ guild_name|url_encode }}" method="post">
						{% set button_name = 'Invite Character' %}
						{% set button_image = '_sbutton_invitecharacter' %}
						{% include('buttons.base.html.twig') %}
					</form>
				</div>

				<div class="col col-auto">
					<form action="?subtopic=guilds&action=change_rank&guild={{ guild_name|url_encode }}" method="post">
						{% set button_name = 'Edit Ranks' %}
						{% set button_image = '_sbutton_editranks' %}
						{% include('buttons.base.html.twig') %}
					</form>
				</div>

			{% endif %}
			{% if players_from_account_in_guild|length > 0 %}
			<div class="col col-auto">
				<form action="?subtopic=guilds&action=leave_guild&guild={{ guild_name|url_encode }}" method="post">
					{% set button_name = 'Leave Guild' %}
					{% set button_image = '_sbutton_leaveguild' %}
					{% include('buttons.base.html.twig') %}
				</form>
			</div>

			{% endif %}
		{% endif %}
		<div class="col col-auto">
			<form action="{{ getLink('guilds') }}" method="post">
				{{ include('buttons.back.html.twig') }}
			</form>
		</div>
	</div>
</div>
