<div class="cointainer">
	<div>
		<h2>Ranking for
			{{ skillName }}
			{% if vocation is not null %}
				({{ vocation }})
			{% endif %}
			on
			{{ config.lua.serverName }}</h2>
	</div>
	<div>
		<button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVocFilter" aria-expanded="false" aria-controls="collapseVocFilter">
			<h4>
				<i class="bi bi-funnel-fill"></i>
			</h4>
		</button>
		<div class="collapse" id="collapseVocFilter" style="margin-bottom:5px">
			<div class="row">
				<div class="col">
					<label for="vocationFilter">Choose a Skill</label>
					<select onchange="location = this.value;" aria-label="skillFilter" id="skillFilter">
						{% set i = 0 %}
						{% for link, name in types %}
							<option value="{{ getLink('highscores') }}/{{ link }}{% if vocation is defined %}/{{ vocation }}{% endif %}" class="size_xs">{{ name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col">
					<label for="vocationFilter">Choose a vocation</label>
					<select onchange="location = this.value;" aria-label="vocationFilter" id="vocationFilter">
						<option value="{{ getLink('highscores') }}/{{ list }}" class="size_xs">[ALL]</option>
						{% set i = 0 %}
						{% for i in 1..config.vocations_amount %}
							<option value="{{ getLink('highscores') }}/{{ list }}/{{ config.vocations[i]|lower }}" class="size_xs">{{ config.vocations[i]}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
	</div>
	<div>
		<table class="table">
			<thead>
				<tr>
					{% if config.account_country %}
						<th scope="col">#</th>
					{% endif %}
					<th scope="col">Rank</th>
					{% if config.highscores_outfit %}
						<th scope="col">Outfit</th>
					{% endif %}
					<th scope="col">Name</th>
					<th scope="col"><b>{{ levelName }}</b></th>
					{% if skill == constant('POT::SKILL__LEVEL') %}
						<th scope="col">Points</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% if totalRows < 1 %}
					<tr><td colspan="100%">No records yet.</td></tr>
				{% else %}
					{% set row = 0 %}
					{% for player in highscores %}
						<tr>
							{% set row = row + 1 %}
							{% if config.account_country %}
								<td>{{ player.flag|raw }}</td>
							{% endif %}
							<th scope="row">{{ player.rank }}</th>
							{% if config.highscores_outfit %}
								<td>{{ player.outfit|raw }}</td>
							{% endif %}
							<td>
								<a href="{{ player.link }}">
									<span style="color: {% if player.online > 0 %}green{% else %}red{% endif %}">{{ player.name }}</span>
								</a>
								{% if config.highscores_vocation %}
								<br/><small>{{ player.vocation }}</small>
								{% endif %}
							</td>
							<td>{{ player.value }}</td>
							{% if skill == constant('POT::SKILL__LEVEL') %}
								<td>{{ player.experience }}</td>
							{% endif %}
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>
</div>
