<div class="table-responsive">
	<table class="table" border="0" cellspacing="1" cellpadding="4" width="100%">
		<thead>
			<tr>
				<th scope="col">Server Status</th>
			</tr>
		</thead>
		<tbody>
		{% if players|length == 0 %}
			<tr><td>Currently no one is playing on {{ config.lua.serverName }}.</td></tr>
		{% else %}
			<tr>
				<td>
					{% if not status.online %}
					Server is offline.<br/>
					{% else %}
						{% if config.online_afk %}
							{% set players_count = players|length %}
							{% set afk = players_count - status.players %}
							{% if afk < 0 %}
								{% set players_count = players_count + afk|abs %}
								{% set afk = 0 %}
							{% endif %}
							Currently there are <b>{{ status.players }}</b> active and <b>{{ afk }}</b> AFK players.<br/>
							Total number of players: <b>{{ players_count }}</b>.<br/>
						{% else %}
							Currently {{ players|length }} players are online.<br/>
						{% endif %}
					{% endif %}
				</td>
			</tr>
		{% endif %}
		</tbody>
	</table>
	{% if players|length != 0 %}
	<br/>
	{# vocation statistics #}
	{% if config.online_vocations %}
	<br/>
		{% if config.online_vocations_images %}
		<table width="200" cellspacing="1" cellpadding="0" border="0" align="center">
			<tr>
				<td><img src="images/sorcerer.png" /></td>
				<td><img src="images/druid.png" /></td>
				<td><img src="images/paladin.png" /></td>
				<td><img src="images/knight.png" /></td>
			</tr>
			<tr bgcolor="{{ config.table_header_bg }}" style="color:white;">
				<td class="{{ config.table_header_textcolor }}" style="text-align: center;"><strong>Sorcerers</strong></td>
				<td class="{{ config.table_header_textcolor }}" style="text-align: center;"><strong>Druids</strong></td>
				<td class="{{ config.table_header_textcolor }}" style="text-align: center;"><strong>Paladins</strong></td>
				<td class="{{ config.table_header_textcolor }}" style="text-align: center;"><strong>Knights</strong></td>
			</tr>
			<tr>
				<td style="text-align: center;">{{ vocs[1] }}</td>
				<td style="text-align: center;">{{ vocs[2] }}</td>
				<td style="text-align: center;">{{ vocs[3] }}</td>
				<td style="text-align: center;">{{ vocs[4] }}</td>
			</tr>
		</table>
		<div style="text-align: center;">&nbsp;</div>
			{% else %}
		<table class="table table-striped" border="0" cellspacing="1" cellpadding="4" width="100%">
			<tr bgcolor="{{ config.table_header_bg }}">
				<td class="{{ config.table_header_textcolor }}" colspan="2" style="color:white;"><b>Vocation statistics</b></td>
			</tr>

			{% for i in 1..config.vocations_amount %}
			<tr>
				<td width="25%">{{ config.vocations[i] }}</td>
				<td width="75%">{{ vocs[i] }}</td>
			</tr>
			{% endfor %}
		</table>
	<br/>
			{% endif %}
		{% endif %}

		{# show skulls #}
		{% if config.online_skulls %}
	<table width="100%" cellspacing="1">
		<tr>
			<td align="center">
				<img src="images/white_skull.gif"/> - 1 - 6 Frags<br/>
				<img src="images/red_skull.gif"/> - 6+ Frags or Red Skull<br/>
				<img src="images/black_skull.gif"/> - 10+ Frags or Black Skull
			</td>
		</tr>
	</table>
		{% endif %}

	<table class="table">
	<thead>
		<tr bgcolor="{{ config.table_header_bg }}" style="color:white;text-decoration:none;">
			{% if config.account_country %}
			<th scope="col"><a href="?subtopic=online&order=country">#<i class="bi bi-caret-down"></i></A></th>
			{% endif %}
			{% if config.online_outfit %}
			<th scope="col">Outfit</th>
			{% endif %}
			<th scope="col"><a style="color:white;text-decoration:none;" href="?subtopic=online&order=name" class="{{ config.table_header_textcolor }}">Name<i class="bi bi-caret-down"></i></A></th>
			<th scope="col"><a style="color:white;text-decoration:none;" href="?subtopic=online&order=level" class="{{ config.table_header_textcolor }}">Level<i class="bi bi-caret-down"></i></A></th>
			<th scope="col"><a style="color:white;text-decoration:none;" href="?subtopic=online&order=vocation" class="{{ config.table_header_textcolor }}">Vocation<i class="bi bi-caret-down"></i></th>
		</tr>
		</thead>
		<tbody>
		{% set i = 0 %}
		{% for player in players %}
			{% set i = i + 1 %}
			<tr>
			{% if config.account_country %}
				<td>{{ player.country_image|raw }}</td>
			{% endif %}
			{% if config.online_outfit %}
				<td width="5%"><img style="margin-top:{% if player.player.looktype in [75, 266, 302] %}0px;margin-left:-0px;{% else %}-30px;margin-left:-25px;{%  endif %}" src="{{ player.outfit }}" alt="player outfit"/></td>
			{% endif %}
				<td>{{ player.name|raw }}{{ player.skull }}</td>
				<td>{{ player.level }}</td>
				<td>{{ player.vocation }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	{% endif %}
</div>
